<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="stylesheet" th:href="@{/css/form.css}" />
    <title th:text="${memo.id == 0 ? '새 메모 작성' : '메모 수정'}"></title>
    <script src="https://kit.fontawesome.com/385cd447bf.js" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="form-container">
    	<div class="form-header-container">
    		<button class="cancel-button" onclick="goBackToHome()"><i class="fa-solid fa-xmark"></i></button>
    		<h1 th:text="${memo.id == 0 ? '새 메모 작성' : '메모 수정'}"></h1>
    		<button class="confirm-button" onclick="saveMemo()"><i class="fa-solid fa-check"></i></button>
    	</div>
    	
	    <form th:action="${memo.id == 0 ? '/memos/new' : '/memos/' + memo.id + '/edit'}" method="post" enctype="multipart/form-data">
		    <div class="form-body-container">
		        <input type="text" id="title" name="title" th:value="${memo.title}" required>
		        <input type="file" id="images" name="images"  multiple >
		        <textarea id="content" name="content" rows="10" required th:text="${memo.content}"></textarea>
		    </div>
		</form>
    </div>
   	<script>
   		function goBackToHome() {
   			window.location.href = "/memos";
   		}
   		function saveMemo() {
   		   const title = document.getElementById('title').value.trim();
   		   const content = document.getElementById('content').value.trim();

   		   if (!title || !content) {
   		       alert('제목과 내용을 모두 입력해주세요.');
   		       return;
   		   }
   		   document.querySelector('form').submit();
   		}
   	</script>
</body>
</html>