<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${memo.title}">메모 상세</title>
    <link rel="stylesheet" th:href="@{/css/view.css}"/>
    <script src="https://kit.fontawesome.com/385cd447bf.js" crossorigin="anonymous"></script>
</head>
<body>
	<div class="view-container">
		<header class="view-header-container">
			<button onclick="goBackToHome()"><i class="fa-solid fa-angle-left"></i></button>
			<h3 th:text="${memo.createdDate}"></h3>				
			<button onclick="goToEdit()" th:data-id="${memo.id}"><i class="fa-solid fa-pen-to-square"></i></button>
		</header>
		
		<div class="view-body-container">
		    <div class="view-body-header">
		        <h1 th:text="${memo.title}"></h1>
		    </div>
		    <div th:each="imageUrl : ${imageUrls}">
		        <img th:src="${imageUrl}" alt="Memo Image" style="width: 100%; height: auto;">
		    </div>
		    <h2 th:text="${memo.content}"></h2>
		</div>
	</div>
    <div>
    </div>
    <script>
	    function goBackToHome() {
	        window.location.href = '/memos';
	    }
	    function goToEdit() {
	    	const memoId = document.querySelector("button[data-id]").dataset.id;
 	    	window.location.href = `/memos/${memoId}/edit`;
	    }
    </script>
</body>
</html>