@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
/*  Default Style */
body {
	margin: 0;
	padding: 0;
	background-color: rgb(37, 37, 37);
	color: white; 
	font-family: Pretendard-Regular;
}
h1, input{
	font-size: 4rem;
	font-weight: 300;
}
h2, textarea {
	font-size: 3.5rem;
}
h3 {
	font-size: 3rem;
}
h4,h5,h6,a {
	font-size: 2rem;
}
button {
	font-size: 3rem;
	border: none;
	padding: 20px;
	width: 100px;
    height: 100px;
	box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.10);
}
input, textarea {
	padding: 20px;
	border-radius: 10px;
	background-color: rgb(69,69,69);
	color: white;
}

/* form-container */
.form-container {
	flex: 1;
}
/* 헤더 */
.form-header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.form-header-container button {
	background-color: rgb(69,69,69);
	border-radius: 20px;
}
.form-header-container button i {
	color: white;
}

/* 바디 */
.form-body-container {
	padding: 20px;
	display: flex ;
	flex-direction: column;
	gap: 20px
}
